/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: Arial;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    font-size: 12px;
}

table {
    width:100%;
}
table tr td.fulfilled {
    border-bottom: 1px solid #333;
    width: 100%;
}
/**********************************************************/

#container {
    width: 960px;
    margin: 0 auto
}
/*.left {
    float: left
}
.right {
    float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}*/
header {
    background-color: #f79646;
    padding: 20px 5px;
    margin-bottom: 20px;
}
h1 {
    font-size: 14px;
}
h2 {
    font-size: 12px;
}
h3 {
    padding-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 10px;
}
/*.box-info {
    border: 2px dotted #000;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
}
*/

p {
    margin-top: 5px;
    font-size: 10px;
}

.importante {
    background-color: #ccc;
    display: block;
    padding: 5px 10px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

table.table {
    border-collapse:collapse;
    border-spacing:0;
}

tr.center td {
    text-align: center;
}

td{
    font-size: 10px;
    vertical-align:middle;
    padding: 2px;
}
th{
    font-size: 10px;
    padding: 2px;
    background-color: #e9e9e9;
}